/* copy pasta'd from: https://codepen.io/gaearon/pen/oWWQNa?editors=0100 */

#root {
  width: 100%;
  height: 100%;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  width: 100%;
  height: 100%;
  margin: 20px;
  background-color: #0c2027;
}

.game {
  width: 1000px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.game-info {
  width: 0%;
  height: 0%;
}

.game-board {
  width: 250px;
  height: 250px;
  border: 5px solid #12313b;
  border-radius: 21px;
  background-color: #1f5768;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}

.board-row {
  width: 240px;
  height: 70px;
  margin-top: -5px;
  margin-bottom: 5px;
  margin-left: 18px;
}

.status {
  font: 10px "Century Gothic", Futura, sans-serif;
  align-self: center;
  height: 0%;
  opacity: 0.6;
  margin-top: -1px;
}

.square {
  width: 64px;
  height: 64px;
  margin: 3px;
  font: 14px "Century Gothic", Futura, sans-serif;
  text-indent: -4px;
  background-color: #288a2b;
  border: 4px solid #43a047;
  border-radius: 400px;
  outline: none;
}

.square:focus {
  outline: none;
}

.game-info {
  margin-left: 20px;
}

ul {
  list-style-type: none;
  margin-left: -75px;
  margin-top: -110px;
}

.histButton {
  width: 20px;
  height: 20px;
  border: 4px solid #63c6fd;
  border-radius: 20px;
  background-color: #fbfdfc;
  font-size: 5px;
  padding-bottom: 4px;
  transition-property: opacity;
  transition-duration: 4s;
}