/* copy pasta'd from: https://codepen.io/gaearon/pen/oWWQNa?editors=0100 */

#root {
  width: 100%;
  height: 100%;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  width: 100%;
  height: 100%;
  margin: 20px;
  background-color: #0c2027;
}

.game {
  width: 1000px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.game-info {
  width: 0%;
  height: 0%;
}

.game-board {
  width: 150px;
  height: 150px;
  border: 5px solid #12313b;
  border-radius: 21px;
  background-color: #1f5768;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}

.board-row {
  width: 140px;
  height: 45px;
  margin-top: -6px;
  margin-bottom: 6px;
  margin-left: 9px;
}

.status {
  font: 10px "Century Gothic", Futura, sans-serif;
  align-self: center;
  height: 0%;
  opacity: 0.6;
  margin-top: -12px;
}

.square {
  width: 37px;
  height: 37px;
  margin: 3px;
  font: 11px "Century Gothic", Futura, sans-serif;
  background-color: #288a2b;
  border: 4px solid #43a047;
  border-radius: 40px;
  outline: none;
}

.square:focus {
  outline: none;
}

.game-info {
  margin-left: 20px;
}